.content-wrap {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 2.5em;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  /*background-color: #393E46;*/
  background-color: #58b4ae;
  margin:0;

}


p {
  font-size: 2rem;
  /*color: #4ECCA3;*/
  color: #ffe277;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 7%;
  /*color: #EEEEEE;*/
  color:#ffe2bc;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  border: none;
  background-color: inherit;
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  /*color: #4ECCA3;*/
  color:#ffe277;
}

.btn:hover {
  text-shadow: 10px 10px #232931;
}

.outlinenone {
  outline:none;
}

.lucky{
  font-size: 2rem;
}

.copyright{
  color: #1b1b2f;
  font-size: 0.75rem;
}

.real-footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffe277;
  text-align: center;
  height: 2.5rem;
}

.page-container{
  position: relative;
  min-height: 100vh; /* sets its minimum height to 100% of the viewport height (vh)*/
}